.App {
  text-align: center;
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.start-container {
  display: none;
  text-align: center;
  color: white;
  border: 1px solid black;
  background-color: black;
  opacity: 0.9;
  height: 80%;
  width: 90%;
  position: absolute;
}

.start-content{
  padding-top: 20%;
}

.quiz {
  display: inline-block;
  background-color: lightcyan;
  height:100%;
  width: 90%;
  border: 1px solid black;
}

.score {
  height: 80px;
  width: 80px;
  border:0px solid black;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: absolute;
  top: 45%;
  left: 10px;
}

.dogImage {
  padding: 5%;
  height: auto;
  width: 80%;
}

.answer {
 background-color: red;
 height: 50%;
 position: absolute;
 bottom: 0;
 text-align: center;
}

.answers {
  display: inline-block;
  text-align: center;
  width: 80%;
  height: 90%;
  padding: 10px;
  bottom: 5px;
}

.answers p {
  margin: 10px;
  border:1px solid black;
}