@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400');

.App {
  text-align: center;
  border: 25px solid black;
  width: 700px;
  margin: 0 auto;
  font-family: 'Palanquin Dark';
   background-color: rgb(0, 238, 255);  
}

.App-header {
  background-color: rgb(0, 238, 255);  
  font-size: 100px;
  color: black;
  width: auto;
  margin: 0 0 25px 0;
  position: static;
  top: 50%;
}

.score {

  margin: 0 auto;
  border: 15px solid black;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  /* text-align: center; */
  line-height: 75px; 
  vertical-align: top;
  color: white;
  position: absolute;
  top: 111%;
  right: 200px;
}

.dogImage {
  height: 100px;
  width: auto;
}

.answers {
  display: inline-block;
  text-align: center;
  bottom: 5px;
}
