@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400');

html {
  background: #A7CAB1
}

h2 {
  margin:0;
  font-size: 20px;
}

button{
  width: 100px;
  height: 100 px;

}

img {
  height: 300px;
}

.App {
  text-align: center;
  border: 10px solid black;
  border-radius: 15px;
  width: 700px;
  margin: 3rem auto; 
  font-family: 'Palanquin Dark';
   background-color:#DFEBE2;  
}

.App-header {
  background-color: #DFEBE2;  
  font-size: 40px;
  color: black;
  width: auto;
  margin: 20px 0 20px 0;
  position: static;
  top: 50%;
}

.score {

  margin: 0 auto;
  border: 3px solid white;
  background-color: #E9F1F1;
  padding: 10px;
  border-radius: 50%;

  text-align: center;
  line-height: 75px; 
  vertical-align: top;
  color: black;
  position: absolute;
  
  top: 70%;
  right: 25%;
}

.dogImage {
  height: 100px;
  width: auto;
}

.answers {
  display: inline-block;
  text-align: center;
  bottom: 5px;
}
